@import 'tailwindcss';

@theme {
  --color-primaryLight: #ffffff;
  --color-primaryDark: #363738;
  --color-secondary: #f5f5f5;
  --color-secondaryPink: #fefaf1;
  --color-tertiary: #db4444;
  --color-lightYellow: #ffad33;
  --color-bgLight: #ffffff;
  --color-bgDark: #000000;
  --color-softLight: #fafafa;
  --color-textGray: #788184;
  --color-textDark: #000;
  --color-btnBgColor: #00ff66;
  --color-btnHoverPrimary: #e07575;
  --color-btnHoverSecondary: #a0bce0;
}

body {
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

*::-webkit-scrollbar-track {
  background-color: rgb(250, 250, 250);
}

*::-webkit-scrollbar-thumb {
  background: rgb(211, 211, 211);
  border-radius: 5px;
}
